body {
    background-color: #0a0a0a;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

section {
    padding: 100px 0;
}

#hero {
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #0a0a0a,
        #121212
    );
}

.navbar-brand {
    color: #00e5ff !important;
}

.btn-info {
    background-color: #00e5ff;
    border: none;
}

.btn-info:hover {
    background-color: #00c4db;
}

.nav-link:hover {
    color: #00e5ff !important;
}

.bi {
    cursor: pointer;
}